@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeInOutFirst {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeInOutSecond {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.animate-fade-in-out-first {
  animation: fadeInOutFirst 6s infinite;
}

.animate-fade-in-out-second {
  animation: fadeInOutSecond 6s infinite;
  animation-delay: 3s; /* Delay for the second text */
}
